body{
    
}
/* .adminPage{
    width: 100%
}
.tabsContainer{
    width: 100%
} */
.badge{
    width: 95%
}
.tabs{
  background-color: white;
  /* width: 80%; */
  margin: auto;
  text-align: center;
}
.orgContainer{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 0.5em;
    grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
}

.orgChip{
    grid-column: auto;
    z-index: 100;
    max-height: 2.5rem;
    background-color: red !important
}