.landingPageBTNs{
    margin: auto
}
.orgContainer {
    background-color: #e9e8e3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
.org{
    background-color: #f48101;
    border-radius: 50%;
    z-index: 10;

}